.email-background {
  background-color: #1b1c1e;
  margin: 0 auto; }

.email-container {
  max-width: 600px;
  color: #1b1c1e;
  background-color: #fff;
  height: auto;
  margin: 0 auto;
  overflow: hidden; }

.header {
  background-color: #fff; }

.logo {
  text-align: left; }

.location {
  text-align: right; }

table {
  width: 100%;
  text-align: center;
  border-spacing: 0px; }

.banner {
  background-color: #1a4a8a;
  height: 200px;
  color: #fff; }

.main {
  height: auto;
  text-align: left; }

.left-section {
  background-color: #1b1c1e;
  width: 50%;
  color: white; }

.right-section {
  background-color: #1a4a8a;
  width: 50%;
  color: white; }

.ford-pass {
  background-color: #355e81;
  color: #fff;
  text-transform: uppercase; }

.footer {
  background-color: #1b1c1e;
  color: #fff; }


