body {
  margin: 0; }

.email-background {
  background-color: #0e0e0e;
  margin: 0 auto; }

.email-container {
  max-width: 600px;
  color: #1b1c1e;
  background-color: #fff;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  font-family: helvetica;
  font-size: 16px; }

.header {
  background-color: #fff;
  padding: 10px 20px; }

.logo {
  text-align: left; }

.location {
  text-align: right; }

table {
  width: 100%;
  text-align: center;
  border-spacing: 0px; }

.banner {
  background-color: #1a4a8a;
  height: 200px;
  color: #fff; }

.banner h1 {
  padding: 0px 100px; }

.main {
  height: auto;
  text-align: left; }

.left-section {
  background-color: #1b1c1e;
  width: 50%;
  color: white;
  padding: 20px; }

.right-section {
  background-color: #1a4a8a;
  width: 50%;
  color: white;
  padding: 20px; }

.ford-pass {
  background-color: #355e81;
  color: #fff;
  text-transform: uppercase; }

.heritage p {
  padding: 10px 30px; }

.footer {
  background-color: #1b1c1e;
  color: #fff;
  padding: 20px; }


